body{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#334557+0,304356+100 */
background: #334557; /* Old browsers */
background: -moz-linear-gradient(top,  #334557 0%, #304356 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #334557 0%,#304356 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #334557 0%,#304356 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#334557', endColorstr='#304356',GradientType=0 ); /* IE6-9 */



  font-family: 'Roboto', sans-serif;
}

.nav{
  position: fixed;
  top:0;
  right:0;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

div.container {
  position: relative;
  margin-top: 200px;
  margin-bottom: 50%;
  border: 3px solid #73AD21;
}

div.divider1{
  position: relative;
  height:100%;
  background: url("../images/moroccan-flower-dark.png");
  opacity:.5;
}

div.containerAbout {
  position: relative;
  margin-bottom: 15%;
  scroll-margin-top: 100px;
}

div.containerAboutEnd {
  position: relative;
  margin-bottom: 10%;
  scroll-margin-top: 100px;
}

div.descriptor{
  position: absolute;
  margin-left: 10%;
  margin-bottom: 10%;
}

div.descriptorText{
  position: absolute;
  margin-bottom: 10%;

}

.links{
  position: fixed;
  left:0;
  bottom:0;
  margin-bottom:50px;
  margin-left:50px;
}

img.me{
float:right;
padding-left:50px;
}

#anchor {
    padding-top: 50px;
    margin-top: -50px;
}

div.shiftCenter{
  position: relative;
  margin-left: 25%;
  margin-right: 25%;
}

hr.about{
   border: 3px solid #8033FF;
   width:50%;
}

hr.projects{
   border: 3px solid #80A3FF;
   width:50%;
}

hr.contact{
   border: 3px solid #F0A3FF;
   width:50%;
}

.buttonWrapper {
   text-align: center;
   margin-top:10%;
   margin-right:10%;
}

.contact{
  position: relative;
  font-size:30px;
  border: 2px solid #73AD21;
  color: grey;
  opacity:1;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#334557+0,0d3156+100 */
background: #334557; /* Old browsers */

}

.contact:hover{
  animation: buttonHighlight 1s infinite;
  animation-direction: alternate;
}

h1 {
  text-align: center;
  color: white;
  font-size: 100px;
}

h1.description1{
  text-align: center;
  color: white;
  font-size: 100px;
}

h2.description2{
  color: #e6f1ff;
  text-align: left;
  opacity: .8;
}

h2{
  color: #58bb7c;
  text-align: right;
  opacity: .8;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: right;
}

li.link {
  float: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  opacity: 1;
  animation: glow 1s;
  animation-fill-mode: forwards;
}

li a.imageLink{
  opacity: .5;
}

li a.imageLink:hover {
  opacity: 1;
  -webkit-transform: scale(1);
   transform: scale(1.2);
   -webkit-transition: .3s ease-in-out;
   transition: .3s ease-in-out;
}

@keyframes glow {
  from {
    box-shadow: 0 0 0px 0px #EEFF47;
  }
  to {
    box-shadow: 0 0 5px 0px #A69FFF;
  }
}

@keyframes buttonHighlight{
from {
    box-shadow: 0 0 0px 0px #EEFF47;
  }
  to {
     box-shadow: 0 0 5px 0px #A69FFF;
     filter : hue-rotate(180deg);

  }
}

