body{
  background-image: url("../textures/pink dust.png");
  font-family: 'Roboto', sans-serif;
}

.nav{
  position: fixed;
  top:0;
  right:0;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

div.container {
  position: relative;
  margin-top: 10%;
  margin-bottom: 50%;
  border: 3px solid #73AD21;
}

div.divider1{
  position: relative;
  height:100%;
  background: url("../textures/moroccan-flower-dark.png");
  opacity:.5;
}

div.containerAbout {
  position: relative;
  margin-bottom: 50%;
  border: 3px solid #73AD21;
}

div.descriptor{
  position: absolute;
  margin-left: 10%;
  margin-bottom: 10%;
}

div.descriptorText{
  position: absolute;
  margin-bottom: 10%;

}

#anchor {
    padding-top: 50px;
    margin-top: -50px;
}

div.shiftCenter{
  position: relative;
  margin-left: 25%;
  margin-right: 25%;
  border: 3px solid #73AD21;
}

hr.about{
   border: 3px solid #8033FF;
}

.buttonWrapper {
   text-align: center;
   margin-top:10%;
   margin-right:10%;
}

.contact{
  position: relative;
  font-size:30px;
  border: 2px solid #73AD21 dotted;
  color:white;
  opacity:1;
  background-image: url("../textures/pink dust.png");
}

h1 {
  text-align: center;
  color: white;
  font-size: 100px;
}

h1.description1{
  text-align: center;
  color: white;
  font-size: 100px;
}

h2.description2{
  color: white;
  text-align: left;
  opacity: .8;
}

h2{
  color: white;
  text-align: right;
  opacity: .8;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  opacity: 1;
  animation: glow 1s;
  animation-fill-mode: forwards;
}

@keyframes glow {
  from {
    box-shadow: 0 0 0px 0px #EEFF47;
  }
  to {
    box-shadow: 0 0 5px 0px #A69FFF;
  }
}


