<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="{{url_for('static', filename='js/home.js')}}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Nicholas Pueschel</title>

</head>
<body>

    <div class="nav" id="navbar">
        <ul>

            <li><a href="resume.pdf">Resume</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#about">About</a></li>

        </ul>
    </div>

    <div class="links" id="links">
        <ul>

            <li class="link"><a class="imageLink" href="https://github.com/blockheads"><img src="{{url_for('static', filename='images/github.png')}}"
            height=50" width="50"></a></li>

        </ul>
    </div>


    <div class="container">
        <div class="descriptor">
            <h1>
            NICHOLAS PUESCHEL
            </h1>
            <h2>
                Computer Science
            </h2>
            <h2>
                Rochester Institute of Technology Class of 2021
            </h2>
            <div class ="buttonWrapper">
                <button class="contact">
                    GET IN TOUCH
                </button>
            </div>
        </div>
    </div >

    <hr class="about">

    <div class="containerAbout" id="about">
        <div class ="shiftCenter">
            <h1 class="description1">
                ABOUT.ME
            </h1>

            <img class="me" src="{{url_for('static', filename='images/me.jpg')}}">
            <h2 class="description2">
                Welcome to my website running on pythonAnywhere!
            </h2>
            <h2 class="description2">
                I am a computer science student currently studying at RIT, and expecting to graduate in 2021.
            </h2>

            <h2 class="description2">
                I have programmed in many different environments, after pursuing my own projects and working at FacilityConnex,
                a company out of Nashua NH, and additionally L3Harris, a company in Victor NY.
            </h2>

            <h2 class="description2">
                Please take a look at some of my projects, and don't hesitate to contact me with any questions.
            </h2>

        </div>
    </div>

    <hr class="projects">

    <div class="containerAbout" id="projects">
        <div class ="shiftCenter">
            <h1 class="description1">
                PROJECT.ZONE
            </h1>
            <h2 class="description2">
                :)
            </h2>
            <h2 class="description2">
                I am the greatest programmer that ever lived.
                I am the greatest programmer that ever lived.
                I am the greatest programmer that ever lived.
                I am the greatest programmer that ever lived.
            </h2>

        </div>
    </div>

    <hr class="contact">

    <div class="containerAboutEnd" id="contact">
        <div class ="shiftCenter">
            <h1 class="description1">
                CONTACT.ME
            </h1>
            <h2 class="description2">
                Thank you for taking the time to explore what I've been up to.
            </h2>
            <h2 class="description2">
                Currently I am looking for an internship for fall of 2020, press the magic button below and let's chat.
            </h2>

            <div class ="buttonWrapper">
                <button class="contact">
                    GET IN TOUCH
                </button>
            </div>

        </div>
    </div>

</body>
</html>