<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="{{url_for('static', filename='js/home.js')}}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Nicholas Pueschel</title>

</head>
<body>

    <div class="nav" id="navbar">
        <ul>

            <li><a class="imageLink" href="/resume">Resume</a></li>
            <li><a class="imageLink" href="#contact">Contact</a></li>
            <li><a class="imageLink" href="#projects">Projects</a></li>
            <li><a class="imageLink" href="#about">About</a></li>

        </ul>
    </div>

    <div class="email">
        <h3 class="description3">nxp6155@rit.edu</h3>
    </div>


    <div class="container">
        <div class="shiftCenterTitle">
            <h1>
            NICHOLAS PUESCHEL
            </h1>
            <h2>
                Computer Science
            </h2>
            <h2>
                Rochester Institute of Technology Class of 2021
            </h2>
            <div class ="buttonWrapper">
                <a href="#contact">
                    <button class="contact">
                        CONTACT ME
                    </button>
                </a>

            </div>
        </div>
    </div >

    <hr class="about">

    <div class="containerAbout" id="about">
        <div class ="shiftCenter">
            <h1 class="description1">
                ABOUT.ME
            </h1>

            <img class="me" src="{{url_for('static', filename='images/me.jpg')}}">
            <p class="about">
                Welcome to my website running on <em>PythonAnywhere!</em>
            </p>
            <p class="about">
                I am a computer science student currently studying at RIT, and expecting to graduate in 2021.
            </p>

            <p class="about">
                I'm always working on a project, so this site is where my coding endeavours I can show off go. Additionally I'm
                thinking about adding some extra details on some of these projects.
            </p>

            <p class="about">
                I have programmed in many different environments, after pursuing my own projects and working at <em>FacilityConnex</em>,
                a company out of Nashua NH, and additionally <em>L3Harris</em>, a company in Victor NY.
            <p>

            <p class="about">
                Please take a look at some of my projects, and don't hesitate to contact me with any questions.
            </p>

        </div>
    </div>

    <hr class="projects">

    <div class="containerAboutSecond" id="projects">
        <div class ="shiftCenter">
            <h1 class="description1">
                PROJECT.ZONE
            </h1>
            <h2 class="description2">
                Click on a project to see what I've been up to.
            </h2>

            <a class="glow" href="https://github.com/blockheads/screeps">
                <div class="projectContainer">
                    <div class="projectDescription">
                        <h2 class="projectDescription">
                            Screeps
                        </h2>
                        <p>
                            As per their website '
                                It's an open-source game for programmers, wherein the core mechanic is programming
                                your units' AI. You control your colony by writing JavaScript.'

                        </p>
                        <p>
                            An attempt at a stateful, object oriented approach to this challenge.
                        </p>
                    </div>

                    <ul class="languages">

                        <li class="language">NodeJS</li>

                    </ul>
                </div>
            </a>

            <a class="glow" href="https://github.com/blockheads/ConquerorGame">
                <div class="projectContainer">

                    <div class="projectDescription">

                        <h2 class="projectDescription">
                            Conqueror Game
                        </h2>
                        <p>
                            Currently over this summer I am working on making a python based RPG. Take a look
                            to see my progress thus far.
                        </p>

                    </div>

                    <ul class="languages">

                        <li class="language">Python</li>
                        <li class="language">PyGame</li>
                    </ul>

                </div>
            </a>

            <a class="glow" href="https://github.com/blockheads/NicholasPueschelWebApp">
                <div class="projectContainer">

                    <div class="projectDescription">

                        <h2 class="projectDescription">
                            This Website
                        </h2>
                        <p>
                            This website runs on PythonAnywhere, uses flask, and showcases the young Nicholas Pueschel
                        </p>

                    </div>

                    <ul class="languages">

                        <li class="language">Flask</li>
                        <li class="language">HTML5</li>
                        <li class="language">CSS</li>
                        <li class="language">Javascript</li>
                    </ul>

                </div>
            </a>

            <a class="glow" href="https://github.com/blockheads/OpenGL-Render">
                <div class="projectContainer">

                    <div class="projectDescription">

                        <h2 class="projectDescription">
                            Open GL Render
                        </h2>
                        <p>
                            This project renders a full scene with my own shading, all from just using OpenGL.
                        </p>

                        <p>
                            To have some fun, I made the whole render based on Minecraft.
                        </p>

                    </div>

                    <ul class="languages">

                        <li class="language">C++</li>
                        <li class="language">OpenGL</li>
                    </ul>

                </div>
            </a>

            <a class="glow" href="https://github.com/blockheads/SmartLad42">
                <div class="projectContainer">

                    <div class="projectDescription">

                        <h2 class="projectDescription">
                            Discord Bot (SmartLad)
                        </h2>
                        <p>
                            A discord bot I made for me and my friends to use, a passion project. It play's music,
                            and has lot's of special fun features. Including a newly added SQL database.
                        </p>

                    </div>

                    <ul class="languages">

                        <li class="language">NodeJS</li>
                        <li class="language">DiscordJS</li>
                        <li class="language">SQLite</li>
                    </ul>

                </div>
            </a>

            <a class="glow" href="https://github.com/blockheads/2D-Wargame">
                <div class="projectContainer">

                    <div class="projectDescription">

                        <h2 class="projectDescription">
                            2D Shooter Game
                        </h2>
                        <p>
                            This was a older project, where I designed a physics based shooting simulator in
                            Unreal Engine.
                        </p>

                    </div>

                    <ul class="languages">

                        <li class="language">C++</li>
                        <li class="language">Unreal Engine</li>
                    </ul>

                </div>
            </a>

        </div>
    </div>

    <hr class="contact">

    <div class="containerAboutEnd" id="contact">
        <div class ="shiftCenter">
            <h1 class="description1">
                CONTACT.ME
            </h1>
            <h2 class="description2">
                Thank you for taking the time to explore what I've been up to.
            </h2>
            <h2 class="description2">
                Currently I am looking for an internship for fall of 2020, here's all my contact info I know.
            </h2>

            <h2 class="description2"> P.S: if you don't use a external email app, my email is nxp6155@rit.edu</h2>

            <div class="links" id="links">
                <ul>

                    <li class="link"><a class="imageLink" href="https://github.com/blockheads">GITHUB<img src="{{url_for('static', filename='images/github.png')}}"
                    height=50" width="50"></a></li>

                    <li class="link"><a class="imageLink" href="/resume">RESUME<img src="{{url_for('static', filename='images/resume.png')}}"
                    height=50" width="50"></a></li>

                    <li class="link"><a class="imageLink" href="mailto:nxp6155@rit.edu">EMAIL<img src="{{url_for('static', filename='images/email.png')}}"
                    height=50" width="50"></a></li>

                </ul>
            </div>

        </div>
    </div>

</body>
</html>